.moreInfo {
	inline-size: 100%;
	background: url('../assets/images/more-info.png') no-repeat;
	background-size: cover;
	aspect-ratio: 68300/38419;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.moreInfo-button {
	font-size: 1.5rem;
	color: var(--black);
	text-decoration: none;
	padding-inline-end: 1rem;
	padding-inline-start: 1rem;
	padding-block-end: 0.5rem;
	padding-block-start: 0.5rem;
	background: var(--primary);
	text-transform: uppercase;
}

.moreInfo-button:active {
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
}

@supports not (aspect-ratio: 68300/38419) {
	.moreInfo {
		block-size: calc(100vw * 0.563);
	}
}

@media screen and (min-width: 900px) {
	.moreInfo {
		align-items: flex-end;
		padding-block-end: 10.5625rem;
	}

	.moreInfo-button {
		padding-inline-end: 2rem;
		padding-inline-start: 2rem;
		padding-block-end: 1rem;
		padding-block-start: 1rem;
		font-size: 3rem;
		line-height: 3rem;
	}
}
