.section {
	position: relative;
	bottom: 2.75rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
	margin-block-end: 5rem;
}

@media screen and (min-width: 630px) {
	.section {
		margin-block-end: 8rem;
	}
}
